.button {
    display: inline-block;
    background-color: #09E1FF;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0px;
    transition: transform 150ms cubic-bezier(0.34, 1.96, 0.95, 2.82);
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
}

.button:hover {
    transform:scale(1.05);
}
